{% extends "admin/index.html" %} {% load i18n %} 
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script>
async function fetchChartData() {
    const res = await fetch("{% url 'admin:chart-data' %}");
    const json = await res.json();
    return json
  }

document.addEventListener('DOMContentLoaded', () => {
  const ctx = document.getElementById('myChart').getContext('2d');

  const btn = document.querySelector('#reload');

    data = {
    datasets: [{
        data: [],
        backgroundColor: [
            'rgb(231, 95, 131)',
            'rgb(252, 204, 85)',
            'rgb(54, 162, 235)',
        ]
    }],

    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: ['Past 24hrs', 'Past Week', 'Past Month',]
};

    // Render the chart
    var chart = new Chart(ctx, {
        type: 'doughnut',
        data: data,
    });
    fetchChartData().then((chart_data) => {
        chart.data.datasets[0].data = chart_data;
    chart.update()
    });
    console.log(chart_data);
});
</script>
<!-- Render our chart -->
<div>
  <canvas style="margin-bottom: 30px;" id="myChart"></canvas>
</div>
<!-- Render the rest of the Index view -->
  {{ block.super }}
{% endblock %}